In [1]:
# Data Quality

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
from pymongo import MongoClient
import csv
from geopy.geocoders import Bing
from config import BING_API_KEY

In [3]:
# Load data set into pandas
df = pd.read_csv ("heart_2022_with_nans.csv")

df.shape[0]
# df.shape[1]

445132

In [4]:
def display_unique_values(df):
    for col in df.columns:
        unique_values = df[col].unique()
        print(f"Column {col} has unique values: {unique_values}")

display_unique_values(df)

Column State has unique values: ['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming' 'Guam' 'Puerto Rico'
 'Virgin Islands']
Column Sex has unique values: ['Female' 'Male']
Column GeneralHealth has unique values: ['Very good' 'Excellent' 'Fair' 'Poor' 'Good' nan]
Column PhysicalHealthDays has unique values: [ 0.  2.  1.  8.  5. 30.  4. 23. 14. nan 15.  3. 10.  7. 25.  6. 21. 20.
 29. 16.  9. 27. 28. 12. 13. 11. 26. 17. 24. 19. 18. 22.]
Column MentalHealthDays has unique values: [ 0.  3.  9.  5. 15. 20. 14. 10. 18.  1. nan  2. 30.  4.  6.  7. 25.  8.
 22. 29. 27. 21. 12. 28. 16. 13. 26. 17. 11. 23. 19. 24.]
Column LastCheckupTime has unique values: ['Within past year (anytime less than 12 months ago)' nan
 'Within past 2 years (1 year but less than 2 years ago)'
 'Within past 5 years (2 years but less than 5 years ago)'
 '5 or more years ago']
Column PhysicalActivities has unique values: ['No' 'Yes' nan]
Column SleepHours has unique values: [ 8.  6.  5.  7.  9.  4. 10.  1. 12. nan 18.  3.  2. 11. 16. 15. 13. 14.
 20. 23. 17. 24. 22. 19. 21.]
Column RemovedTeeth has unique values: [nan 'None of them' '1 to 5' '6 or more, but not all' 'All']
Column HadHeartAttack has unique values: ['No' 'Yes' nan]
Column HadAngina has unique values: ['No' 'Yes' nan]
Column HadStroke has unique values: ['No' 'Yes' nan]
Column HadAsthma has unique values: ['No' 'Yes' nan]
Column HadSkinCancer has unique values: ['No' 'Yes' nan]
Column HadCOPD has unique values: ['No' 'Yes' nan]
Column HadDepressiveDisorder has unique values: ['No' 'Yes' nan]
Column HadKidneyDisease has unique values: ['No' 'Yes' nan]
Column HadArthritis has unique values: ['No' 'Yes' nan]
Column HadDiabetes has unique values: ['Yes' 'No' 'No, pre-diabetes or borderline diabetes' nan
 'Yes, but only during pregnancy (female)']
Column DeafOrHardOfHearing has unique values: ['No' nan 'Yes']
Column BlindOrVisionDifficulty has unique values: ['No' 'Yes' nan]
Column DifficultyConcentrating has unique values: ['No' nan 'Yes']
Column DifficultyWalking has unique values: ['No' 'Yes' nan]
Column DifficultyDressingBathing has unique values: ['No' nan 'Yes']
Column DifficultyErrands has unique values: ['No' 'Yes' nan]
Column SmokerStatus has unique values: ['Never smoked' 'Current smoker - now smokes some days' 'Former smoker'
 nan 'Current smoker - now smokes every day']
Column ECigaretteUsage has unique values: ['Not at all (right now)' 'Never used e-cigarettes in my entire life' nan
 'Use them every day' 'Use them some days']
Column ChestScan has unique values: ['No' 'Yes' nan]
Column RaceEthnicityCategory has unique values: ['White only, Non-Hispanic' 'Black only, Non-Hispanic'
 'Other race only, Non-Hispanic' 'Multiracial, Non-Hispanic' nan
 'Hispanic']
Column AgeCategory has unique values: ['Age 80 or older' 'Age 55 to 59' nan 'Age 40 to 44' 'Age 75 to 79'
 'Age 70 to 74' 'Age 65 to 69' 'Age 60 to 64' 'Age 50 to 54'
 'Age 45 to 49' 'Age 35 to 39' 'Age 25 to 29' 'Age 30 to 34'
 'Age 18 to 24']
Column HeightInMeters has unique values: [ nan 1.6  1.57 1.65 1.8  1.63 1.7  1.68 1.73 1.55 1.93 1.88 1.78 1.85
 1.75 1.52 1.83 1.91 1.96 1.5  1.45 1.42 1.24 1.47 1.22 1.98 2.03 2.01
 1.3  1.4  1.35 1.82 1.67 1.76 2.11 1.37 1.64 1.71 2.16 2.26 0.91 2.06
 1.14 1.74 1.51 1.53 1.69 1.56 1.84 1.9  1.54 1.72 1.87 1.61 1.49 1.59
 1.58 1.62 1.79 1.46 1.89 2.13 0.99 2.08 2.21 1.32 2.18 1.77 2.36 1.25
 1.66 1.86 1.95 1.19 1.05 1.48 1.03 1.18 1.81 1.38 1.44 1.07 1.27 1.2
 1.17 1.04 2.24 1.1  1.43 1.92 2.05 1.12 2.41 2.34 0.97 1.06 1.15 2.29
 1.16 1.09 0.92 2.07 1.   1.08 1.02 1.33 2.   2.02 1.94 0.95]
Column WeightInKilograms has unique values: [   nan  68.04  63.5   53.98  84.82  62.6   73.48  81.65  74.84  59.42
  85.28 106.59  71.21  64.41  61.23  90.72  65.77  66.22  80.29  86.18
  47.63 107.05  57.15 105.23  77.11  56.7   79.38 113.4  102.06  59.87
 104.33  53.52  61.69 136.08  34.47  99.79 127.01  78.93  95.25  58.97
  92.08  72.57  83.91  49.9  117.93  71.67 102.97  62.14  83.46  54.43
  94.35  60.78 117.03  65.32  76.66  88.45  89.81  74.39  68.95  79.83
 108.41  90.26  55.79  91.63  47.17  78.02  50.8   91.17  84.37 145.15
  93.89 122.47  48.99  73.94  88.9   80.74  81.19 158.76  97.52  51.71
  82.55  76.2   68.49  75.3   70.31  63.05  60.33 115.67  86.64 108.86
  92.53 124.74  43.09  58.51  63.96  92.99  44.45 128.82  98.88  45.36
 110.68  46.72  58.06  73.03  95.71 131.09  78.47  69.4   85.73  67.59
 103.87 120.2   88.    54.88 111.58  52.16  77.56 126.55  94.8  123.83
  89.36  75.75  69.85 112.49  82.1  106.14  57.61  70.76 148.78  96.16
  67.13  48.08 163.29 109.77 100.7  142.88  64.86 111.13 121.11  55.34
 101.6   93.44 117.48 120.66  66.68  44.91 132.   107.5  107.95  36.29
 103.42  87.09  83.01  56.25  96.62 134.26  97.07  34.93  99.34  72.12
  49.44 122.02  98.43 129.73 181.44  52.62 121.56 110.22  48.53 140.61
 156.49 116.57  87.54  44.   114.31  31.75  97.98 101.15 112.04 100.24
 113.85 154.22 118.39 133.81 149.69  41.73 119.75 138.35 151.95 129.27
 131.54 104.78 132.45 102.51 116.12  40.37 105.69 136.98 195.04  53.07
 132.9  124.28 112.94 114.76  45.81 119.29 167.83  51.26 172.37 162.39
  46.27 127.91 123.38  38.56 130.63 143.34 115.21 166.92 135.17 109.32
 135.62 204.12 127.46 118.84 139.25 126.1  122.92 151.5  133.36  42.64
  50.35  80.   190.51  37.19 147.87  35.38 144.24 149.23  37.65  86.
 147.42 281.   165.56 162.84 155.58  70.   137.89 189.6  206.38 148.32
  42.18 153.77  38.1   90.   176.9  191.87 249.48  67.    95.    82.
 170.1   62.    40.82  53.   139.71 130.18 100.   165.11  64.    43.54
  24.   134.72 141.52 125.19  75.    60.    34.02 164.65  30.84 250.
  58.    76.    73.   112.    74.    55.   200.    54.    66.    72.
 152.41  39.46 220.    41.28 168.28 188.24  59.    46.   265.   238.14
 168.74 145.   190.    93.   159.66  78.    50.   185.07  91.   104.
 165.   183.7   33.57 161.93  68.   125.65 134.   130.    32.21 143.79
  69.   179.17  63.   105.   210.92  65.    32.   292.57 280.    85.
 174.63  56.   128.37  87.    39.92  83.   169.64 156.04 177.   121.
 151.05  89.   146.96 146.06  98.   166.47  36.74 171.46 227.25  29.48
 190.06 161.03  35.83 226.8  175.09 138.8  240.4  158.3  170.55  61.
 137.44 145.6  141.07 155.13  52.   120.    57.    77.    27.22  25.4
 240.    96.    47.   115.    41.    45.   170.   150.59 272.16  26.31
  48.    39.01 236.    92.   197.31 156.    84.    94.    29.03  49.
  79.   157.85 192.78 255.   108.   185.   222.26 229.97 180.    81.
  24.95  71.    26.   107.   101.   208.65 140.   175.   111.   110.
 141.97  22.68 284.86 136.53 210.   103.   185.97 140.16 146.51  24.49
  25.85 150.   102.   229.52  23.59 125.   163.    38.   135.   176.45
 185.52 152.86 232.69 124.   192.32 186.88 118.   160.12 160.   193.68
 201.85 144.7  184.16 142.43 169.   166.01  32.66 180.53 196.41  51.
  40.   171.91 195.95  33.11 153.31 159.21 164.2  219.99 215.46 182.34
  30.   160.57 173.27 158.   213.19 276.24 199.58 175.99 235.87 217.72
 200.03 230.88 146.    24.04 178.72 150.14 157.4  163.75 191.42 174.18
  28.58  97.   256.28 205.48 161.48 178.26 179.62 205.02 254.01 154.68
 209.56 201.4  234.96 177.81 200.49 231.79 227.7  273.52 189.15 173.73
 183.25 167.38 211.83 223.62 228.61  30.39 197.77 184.61 250.38 181.89
  31.3  290.3  285.   113.   242.67 231.33 180.08 202.76 176.   188.69
 206.84 164.   156.94 114.   122.   222.   137.   166.   180.98 272.
 172.82 274.42 234.51 199.13 244.94 203.21  23.13 265.35 198.22 263.08
 216.82 154.   169.19 239.04 177.35 210.47 224.98 117.    37.   126.
 273.06 203.66 252.2  238.59 194.59 187.33 221.35 162.   224.53  23.
 223.17 187.79 212.73 152.   233.6  193.23 205.   229.06 230.   247.21
  99.    28.12 230.42 175.54 205.93 171.    26.76 212.28 217.   280.32
 281.68 248.57 195.    42.   258.55 215.   116.    28.   123.   186.43
 228.16 119.   219.09 214.55 278.96 182.8  138.   217.27 246.3  189.  ]
Column BMI has unique values: [  nan 26.57 25.61 ... 13.51 28.39 48.63]
Column AlcoholDrinkers has unique values: ['No' 'Yes' nan]
Column HIVTesting has unique values: ['No' 'Yes' nan]
Column FluVaxLast12 has unique values: ['Yes' 'No' nan]
Column PneumoVaxEver has unique values: ['No' 'Yes' nan]
Column TetanusLast10Tdap has unique values: ['Yes, received tetanus shot but not sure what type'
 'No, did not receive any tetanus shot in the past 10 years' nan
 'Yes, received Tdap' 'Yes, received tetanus shot, but not Tdap']
Column HighRiskLastYear has unique values: ['No' nan 'Yes']
Column CovidPos has unique values: ['No' 'Yes' nan
 'Tested positive using home test without a health professional']

In [5]:
# Check the columns
df.columns

Index(['State', 'Sex', 'GeneralHealth', 'PhysicalHealthDays',
       'MentalHealthDays', 'LastCheckupTime', 'PhysicalActivities',
       'SleepHours', 'RemovedTeeth', 'HadHeartAttack', 'HadAngina',
       'HadStroke', 'HadAsthma', 'HadSkinCancer', 'HadCOPD',
       'HadDepressiveDisorder', 'HadKidneyDisease', 'HadArthritis',
       'HadDiabetes', 'DeafOrHardOfHearing', 'BlindOrVisionDifficulty',
       'DifficultyConcentrating', 'DifficultyWalking',
       'DifficultyDressingBathing', 'DifficultyErrands', 'SmokerStatus',
       'ECigaretteUsage', 'ChestScan', 'RaceEthnicityCategory', 'AgeCategory',
       'HeightInMeters', 'WeightInKilograms', 'BMI', 'AlcoholDrinkers',
       'HIVTesting', 'FluVaxLast12', 'PneumoVaxEver', 'TetanusLast10Tdap',
       'HighRiskLastYear', 'CovidPos'],
      dtype='object')

In [6]:
# Add coordinates to the dataset
# Define function to get coordinates for a given location (state)
def get_coordinates(state_name):
    geocoder = Bing(api_key=BING_API_KEY)
    try:
        location = geocoder.geocode(state_name + ', USA', exactly_one=True)
        if location:
            return [location.latitude, location.longitude]
        else:
            print('Failed to geocode state:', state_name)
            return None
    except Exception as e:
        print('Error:', e)
        return None

# List of states
states = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", 
    "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", 
    "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", 
    "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", 
    "Massachusetts", "Michigan", "Minnesota", "Mississippi", 
    "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", 
    "New Jersey", "New Mexico", "New York", "North Carolina", 
    "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", 
    "Rhode Island", "South Carolina", "South Dakota", "Tennessee", 
    "Texas", "Utah", "Vermont", "Virginia", "Washington", 
    "West Virginia", "Wisconsin", "Wyoming"
]

# Fetch coordinates for each state
coordinates = {}
for state in states:
    coordinates[state] = get_coordinates(state)

# Function to update CSV file with coordinates
def update_csv_with_coordinates(csv_file, coordinates):
    updated_data = []
    with open(csv_file, 'r') as file:
        reader = csv.DictReader(file)
        for row in reader:
            state = row['State']
            if state in coordinates:
                row['Latitude'], row['Longitude'] = coordinates[state]
            updated_data.append(row)
    
    # Write updated data to a new CSV file
    with open('updated_' + csv_file, 'w', newline='') as updated_file:
        writer = csv.DictWriter(updated_file, fieldnames=updated_data[0].keys())
        writer.writeheader()
        writer.writerows(updated_data)

# Update CSV file with latitude and longitude
update_csv_with_coordinates('heart_2022_with_nans.csv', coordinates)

In [7]:
# Check the dataset
df = pd.read_csv ("updated_heart_2022_with_nans.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 42 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      445132 non-null  object
 1   Sex                        445132 non-null  object
 2   GeneralHealth              443934 non-null  object
 3   PhysicalHealthDays         434205 non-null  float64
 4   MentalHealthDays           436065 non-null  float64
 5   LastCheckupTime            436824 non-null  object
 6   PhysicalActivities         444039 non-null  object
 7   SleepHours                 439679 non-null  float64
 8   RemovedTeeth               433772 non-null  object
 9   HadHeartAttack             442067 non-null  object
 10  HadAngina                  440727 non-null  object
 11  HadStroke                  443575 non-null  object
 12  HadAsthma                  443359 non-null  object
 13  HadSkinCancer              441989 non-null  object
 14  HadCOPD                    442913 non-null  object
 15  HadDepressiveDisorder      442320 non-null  object
 16  HadKidneyDisease           443206 non-null  object
 17  HadArthritis               442499 non-null  object
 18  HadDiabetes                444045 non-null  object
 19  DeafOrHardOfHearing        424485 non-null  object
 20  BlindOrVisionDifficulty    423568 non-null  object
 21  DifficultyConcentrating    420892 non-null  object
 22  DifficultyWalking          421120 non-null  object
 23  DifficultyDressingBathing  421217 non-null  object
 24  DifficultyErrands          419476 non-null  object
 25  SmokerStatus               409670 non-null  object
 26  ECigaretteUsage            409472 non-null  object
 27  ChestScan                  389086 non-null  object
 28  RaceEthnicityCategory      431075 non-null  object
 29  AgeCategory                436053 non-null  object
 30  HeightInMeters             416480 non-null  float64
 31  WeightInKilograms          403054 non-null  float64
 32  BMI                        396326 non-null  float64
 33  AlcoholDrinkers            398558 non-null  object
 34  HIVTesting                 379005 non-null  object
 35  FluVaxLast12               398011 non-null  object
 36  PneumoVaxEver              368092 non-null  object
 37  TetanusLast10Tdap          362616 non-null  object
 38  HighRiskLastYear           394509 non-null  object
 39  CovidPos                   394368 non-null  object
 40  Latitude                   432589 non-null  float64
 41  Longitude                  432589 non-null  float64
dtypes: float64(8), object(34)
memory usage: 142.6+ MB

In [8]:
# Check for any duplication and drop them
columns = ['State', 'Sex', 'GeneralHealth', 'PhysicalHealthDays',
           'MentalHealthDays', 'LastCheckupTime', 'PhysicalActivities',
           'SleepHours', 'RemovedTeeth', 'HadHeartAttack', 'HadAngina',
           'HadStroke', 'HadAsthma', 'HadSkinCancer', 'HadCOPD',
           'HadDepressiveDisorder', 'HadKidneyDisease', 'HadArthritis',
           'HadDiabetes', 'DeafOrHardOfHearing', 'BlindOrVisionDifficulty',
           'DifficultyConcentrating', 'DifficultyWalking',
           'DifficultyDressingBathing', 'DifficultyErrands', 'SmokerStatus',
           'ECigaretteUsage', 'ChestScan', 'RaceEthnicityCategory', 'AgeCategory',
           'HeightInMeters', 'WeightInKilograms', 'BMI', 'AlcoholDrinkers',
           'HIVTesting', 'FluVaxLast12', 'PneumoVaxEver', 'TetanusLast10Tdap',
           'HighRiskLastYear', 'CovidPos','Latitude','Longitude']

# Check for duplicates based on the specified columns
num_duplicates = df.duplicated(subset=columns).sum()

# Get the duplicated rows
Duplicated_data = df[df.duplicated(subset=columns, keep=False)]

# Remove duplicate rows based on the specified columns
df_no_duplicates = df.drop_duplicates(subset=columns, keep="first")

# Output the results
print(f"Number of duplicate rows: {num_duplicates}")
print("Duplicated data:")
print(Duplicated_data)
print("DataFrame without duplicates:")
print(df_no_duplicates)

Number of duplicate rows: 157
Duplicated data:
             State     Sex GeneralHealth  PhysicalHealthDays  \
4712        Alaska    Male     Very good                 0.0
7310        Alaska    Male     Very good                 0.0
10696      Arizona  Female     Excellent                 0.0
11503      Arizona  Female     Excellent                 0.0
26789   California    Male     Excellent                 0.0
...            ...     ...           ...                 ...
428370   Wisconsin    Male          Good                 0.0
431351   Wisconsin    Male          Good                 0.0
431653   Wisconsin    Male     Excellent                 0.0
433340     Wyoming  Female          Good                 0.0
433508     Wyoming  Female          Good                 0.0

        MentalHealthDays                                    LastCheckupTime  \
4712                 0.0  Within past year (anytime less than 12 months ...
7310                 0.0  Within past year (anytime less than 12 months ...
10696                0.0  Within past year (anytime less than 12 months ...
11503                0.0  Within past year (anytime less than 12 months ...
26789                0.0  Within past year (anytime less than 12 months ...
...                  ...                                                ...
428370               0.0  Within past year (anytime less than 12 months ...
431351               0.0  Within past year (anytime less than 12 months ...
431653               0.0  Within past year (anytime less than 12 months ...
433340               0.0  Within past year (anytime less than 12 months ...
433508               0.0  Within past year (anytime less than 12 months ...

       PhysicalActivities  SleepHours  RemovedTeeth HadHeartAttack  ...  \
4712                  Yes         7.0  None of them             No  ...
7310                  Yes         7.0  None of them             No  ...
10696                 Yes         7.0  None of them             No  ...
11503                 Yes         7.0  None of them             No  ...
26789                 Yes         7.0  None of them             No  ...
...                   ...         ...           ...            ...  ...
428370                Yes         7.0  None of them             No  ...
431351                Yes         7.0  None of them             No  ...
431653                Yes         8.0  None of them             No  ...
433340                Yes         8.0  None of them             No  ...
433508                Yes         8.0  None of them             No  ...

          BMI AlcoholDrinkers HIVTesting FluVaxLast12 PneumoVaxEver  \
4712      NaN             NaN        NaN          NaN           NaN
7310      NaN             NaN        NaN          NaN           NaN
10696   21.46             Yes         No          Yes           Yes
11503   21.46             Yes         No          Yes           Yes
26789     NaN             NaN        NaN          NaN           NaN
...       ...             ...        ...          ...           ...
428370    NaN             NaN        NaN          NaN           NaN
431351    NaN             NaN        NaN          NaN           NaN
431653    NaN             NaN        NaN          NaN           NaN
433340    NaN             NaN        NaN          NaN           NaN
433508    NaN             NaN        NaN          NaN           NaN

         TetanusLast10Tdap HighRiskLastYear CovidPos   Latitude   Longitude
4712                   NaN              NaN      NaN  64.144516 -152.279831
7310                   NaN              NaN      NaN  64.144516 -152.279831
10696   Yes, received Tdap               No       No  34.293228 -111.664597
11503   Yes, received Tdap               No       No  34.293228 -111.664597
26789                  NaN              NaN      NaN  37.254669 -119.617271
...                    ...              ...      ...        ...         ...
428370                 NaN              NaN      NaN  44.639954  -89.732956
431351                 NaN              NaN      NaN  44.639954  -89.732956
431653                 NaN              NaN      NaN  44.639954  -89.732956
433340                 NaN              NaN      NaN  42.999626 -107.551445
433508                 NaN              NaN      NaN  42.999626 -107.551445

[302 rows x 42 columns]
DataFrame without duplicates:
                 State     Sex GeneralHealth  PhysicalHealthDays  \
0              Alabama  Female     Very good                 0.0
1              Alabama  Female     Excellent                 0.0
2              Alabama  Female     Very good                 2.0
3              Alabama  Female     Excellent                 0.0
4              Alabama  Female          Fair                 2.0
...                ...     ...           ...                 ...
445127  Virgin Islands  Female          Good                 0.0
445128  Virgin Islands  Female     Excellent                 2.0
445129  Virgin Islands  Female          Poor                30.0
445130  Virgin Islands    Male     Very good                 0.0
445131  Virgin Islands    Male     Very good                 0.0

        MentalHealthDays                                    LastCheckupTime  \
0                    0.0  Within past year (anytime less than 12 months ...
1                    0.0                                                NaN
2                    3.0  Within past year (anytime less than 12 months ...
3                    0.0  Within past year (anytime less than 12 months ...
4                    0.0  Within past year (anytime less than 12 months ...
...                  ...                                                ...
445127               3.0  Within past 2 years (1 year but less than 2 ye...
445128               2.0  Within past year (anytime less than 12 months ...
445129              30.0                                5 or more years ago
445130               0.0  Within past year (anytime less than 12 months ...
445131               1.0                                                NaN

       PhysicalActivities  SleepHours  RemovedTeeth HadHeartAttack  ...  \
0                      No         8.0           NaN             No  ...
1                      No         6.0           NaN             No  ...
2                     Yes         5.0           NaN             No  ...
3                     Yes         7.0           NaN             No  ...
4                     Yes         9.0           NaN             No  ...
...                   ...         ...           ...            ...  ...
445127                Yes         6.0  None of them             No  ...
445128                Yes         7.0  None of them             No  ...
445129                 No         5.0        1 to 5             No  ...
445130                 No         5.0  None of them            Yes  ...
445131                Yes         5.0  None of them             No  ...

          BMI AlcoholDrinkers HIVTesting FluVaxLast12 PneumoVaxEver  \
0         NaN              No         No          Yes            No
1       26.57              No         No           No            No
2       25.61              No         No           No            No
3       23.30              No         No          Yes           Yes
4       21.77             Yes         No           No           Yes
...       ...             ...        ...          ...           ...
445127  25.63             NaN        Yes           No            No
445128  28.66              No        Yes          Yes            No
445129  17.23             NaN         No           No            No
445130  32.55              No        Yes          Yes           Yes
445131  22.60             Yes         No           No            No

                                        TetanusLast10Tdap HighRiskLastYear  \
0       Yes, received tetanus shot but not sure what type               No
1       No, did not receive any tetanus shot in the pa...               No
2                                                     NaN               No
3       No, did not receive any tetanus shot in the pa...               No
4       No, did not receive any tetanus shot in the pa...               No
...                                                   ...              ...
445127  No, did not receive any tetanus shot in the pa...               No
445128  Yes, received tetanus shot but not sure what type               No
445129  No, did not receive any tetanus shot in the pa...               No
445130  No, did not receive any tetanus shot in the pa...               No
445131  Yes, received tetanus shot but not sure what type               No

       CovidPos   Latitude  Longitude
0            No  32.766426 -86.840332
1            No  32.766426 -86.840332
2           Yes  32.766426 -86.840332
3            No  32.766426 -86.840332
4            No  32.766426 -86.840332
...         ...        ...        ...
445127      Yes        NaN        NaN
445128       No        NaN        NaN
445129       No        NaN        NaN
445130      Yes        NaN        NaN
445131       No        NaN        NaN

[444975 rows x 42 columns]

In [9]:
# Check for NaN values and drop them
for column in df_no_duplicates.columns:
    if df_no_duplicates[column].isnull().any():
        print(f"The column '{column}' has NaN values:")
        # Count of NaN values in each column
        print(df_no_duplicates[column].isna().sum())
    else:
        print (f"Checked")

Checked
Checked
The column 'GeneralHealth' has NaN values:
1193
The column 'PhysicalHealthDays' has NaN values:
10922
The column 'MentalHealthDays' has NaN values:
9062
The column 'LastCheckupTime' has NaN values:
8301
The column 'PhysicalActivities' has NaN values:
1088
The column 'SleepHours' has NaN values:
5448
The column 'RemovedTeeth' has NaN values:
11355
The column 'HadHeartAttack' has NaN values:
3060
The column 'HadAngina' has NaN values:
4400
The column 'HadStroke' has NaN values:
1552
The column 'HadAsthma' has NaN values:
1768
The column 'HadSkinCancer' has NaN values:
3138
The column 'HadCOPD' has NaN values:
2214
The column 'HadDepressiveDisorder' has NaN values:
2807
The column 'HadKidneyDisease' has NaN values:
1921
The column 'HadArthritis' has NaN values:
2628
The column 'HadDiabetes' has NaN values:
1082
The column 'DeafOrHardOfHearing' has NaN values:
20502
The column 'BlindOrVisionDifficulty' has NaN values:
21419
The column 'DifficultyConcentrating' has NaN values:
24095
The column 'DifficultyWalking' has NaN values:
23867
The column 'DifficultyDressingBathing' has NaN values:
23770
The column 'DifficultyErrands' has NaN values:
25511
The column 'SmokerStatus' has NaN values:
35316
The column 'ECigaretteUsage' has NaN values:
35514
The column 'ChestScan' has NaN values:
55900
The column 'RaceEthnicityCategory' has NaN values:
14048
The column 'AgeCategory' has NaN values:
9069
The column 'HeightInMeters' has NaN values:
28505
The column 'WeightInKilograms' has NaN values:
41931
The column 'BMI' has NaN values:
48659
The column 'AlcoholDrinkers' has NaN values:
46428
The column 'HIVTesting' has NaN values:
65981
The column 'FluVaxLast12' has NaN values:
46975
The column 'PneumoVaxEver' has NaN values:
76894
The column 'TetanusLast10Tdap' has NaN values:
82370
The column 'HighRiskLastYear' has NaN values:
50477
The column 'CovidPos' has NaN values:
50618
The column 'Latitude' has NaN values:
12542
The column 'Longitude' has NaN values:
12542

In [10]:
# Drop rows with any NaN values and keep all the columns
df_cleaned = df_no_duplicates.dropna()
# df_cleaned.isna().sum()
df_cleaned.shape[0]

238407

In [11]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 238407 entries, 342 to 435820
Data columns (total 42 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      238407 non-null  object
 1   Sex                        238407 non-null  object
 2   GeneralHealth              238407 non-null  object
 3   PhysicalHealthDays         238407 non-null  float64
 4   MentalHealthDays           238407 non-null  float64
 5   LastCheckupTime            238407 non-null  object
 6   PhysicalActivities         238407 non-null  object
 7   SleepHours                 238407 non-null  float64
 8   RemovedTeeth               238407 non-null  object
 9   HadHeartAttack             238407 non-null  object
 10  HadAngina                  238407 non-null  object
 11  HadStroke                  238407 non-null  object
 12  HadAsthma                  238407 non-null  object
 13  HadSkinCancer              238407 non-null  object
 14  HadCOPD                    238407 non-null  object
 15  HadDepressiveDisorder      238407 non-null  object
 16  HadKidneyDisease           238407 non-null  object
 17  HadArthritis               238407 non-null  object
 18  HadDiabetes                238407 non-null  object
 19  DeafOrHardOfHearing        238407 non-null  object
 20  BlindOrVisionDifficulty    238407 non-null  object
 21  DifficultyConcentrating    238407 non-null  object
 22  DifficultyWalking          238407 non-null  object
 23  DifficultyDressingBathing  238407 non-null  object
 24  DifficultyErrands          238407 non-null  object
 25  SmokerStatus               238407 non-null  object
 26  ECigaretteUsage            238407 non-null  object
 27  ChestScan                  238407 non-null  object
 28  RaceEthnicityCategory      238407 non-null  object
 29  AgeCategory                238407 non-null  object
 30  HeightInMeters             238407 non-null  float64
 31  WeightInKilograms          238407 non-null  float64
 32  BMI                        238407 non-null  float64
 33  AlcoholDrinkers            238407 non-null  object
 34  HIVTesting                 238407 non-null  object
 35  FluVaxLast12               238407 non-null  object
 36  PneumoVaxEver              238407 non-null  object
 37  TetanusLast10Tdap          238407 non-null  object
 38  HighRiskLastYear           238407 non-null  object
 39  CovidPos                   238407 non-null  object
 40  Latitude                   238407 non-null  float64
 41  Longitude                  238407 non-null  float64
dtypes: float64(8), object(34)
memory usage: 78.2+ MB

In [12]:
# df_cleaned: Got cleaned w/o columns removal
print (f"df_cleaned has {df_cleaned.shape[0]} rows")
print (f"df_cleaned has {df_cleaned.shape[1]} columns")

df_cleaned has 238407 rows
df_cleaned has 42 columns

In [14]:
# Save df_cleaned to a CSV file
df_cleaned.to_csv('Heart_42_Col.csv', index=False)

In [15]:
# Dropping columns w/ more than 50000 nan: 
columns = [column for column in df_no_duplicates.columns if df_no_duplicates[column].isna().sum() >= 50000]
df_df = df_no_duplicates.drop(columns=columns)
df_df = df_df.dropna()
df_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 302498 entries, 342 to 435824
Data columns (total 36 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      302498 non-null  object
 1   Sex                        302498 non-null  object
 2   GeneralHealth              302498 non-null  object
 3   PhysicalHealthDays         302498 non-null  float64
 4   MentalHealthDays           302498 non-null  float64
 5   LastCheckupTime            302498 non-null  object
 6   PhysicalActivities         302498 non-null  object
 7   SleepHours                 302498 non-null  float64
 8   RemovedTeeth               302498 non-null  object
 9   HadHeartAttack             302498 non-null  object
 10  HadAngina                  302498 non-null  object
 11  HadStroke                  302498 non-null  object
 12  HadAsthma                  302498 non-null  object
 13  HadSkinCancer              302498 non-null  object
 14  HadCOPD                    302498 non-null  object
 15  HadDepressiveDisorder      302498 non-null  object
 16  HadKidneyDisease           302498 non-null  object
 17  HadArthritis               302498 non-null  object
 18  HadDiabetes                302498 non-null  object
 19  DeafOrHardOfHearing        302498 non-null  object
 20  BlindOrVisionDifficulty    302498 non-null  object
 21  DifficultyConcentrating    302498 non-null  object
 22  DifficultyWalking          302498 non-null  object
 23  DifficultyDressingBathing  302498 non-null  object
 24  DifficultyErrands          302498 non-null  object
 25  SmokerStatus               302498 non-null  object
 26  ECigaretteUsage            302498 non-null  object
 27  RaceEthnicityCategory      302498 non-null  object
 28  AgeCategory                302498 non-null  object
 29  HeightInMeters             302498 non-null  float64
 30  WeightInKilograms          302498 non-null  float64
 31  BMI                        302498 non-null  float64
 32  AlcoholDrinkers            302498 non-null  object
 33  FluVaxLast12               302498 non-null  object
 34  Latitude                   302498 non-null  float64
 35  Longitude                  302498 non-null  float64
dtypes: float64(8), object(28)
memory usage: 85.4+ MB

In [16]:
# df_df: Columns got removed before dropna
print (f"df_df has {df_df.shape[0]} rows")
print (f"df_df has {df_df.shape[1]} columns")

df_df has 302498 rows
df_df has 36 columns

In [17]:
# Save df_df to a CSV file
df_df.to_csv('Heart_36_Col.csv', index=False)

In [ ]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# # Calculate the correlation matrix
# correlation_matrix = df_df.corr()

# # Plot the heatmap
# plt.figure(figsize=(10, 8))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
# plt.title('Correlation Heatmap')
# plt.show()

In [ ]:
# Data Distribution

In [ ]:
# numeric_columns = df_no_duplicates.select_dtypes(include=['int64', 'float64']).columns

# # Compute basic statistical measures
# stats_summary = df_no_duplicates[numeric_columns].describe().transpose()

# # Display the statistical summary
# print(stats_summary)

In [ ]:
# from sklearn.preprocessing import StandardScaler, LabelEncoder

# # Select numerical columns for standardization
# numerical_columns = df_df.select_dtypes(include=['int', 'float']).columns

# # Select categorical and binary columns for preprocessing
# categorical_columns = ['State', 'Sex', 'PhysicalActivities', 'AlcoholDrinkers', 'FluVaxLast12']
# binary_columns = ['HadHeartAttack', 'HadAngina', 'HadStroke', 'HadAsthma', 'HadSkinCancer', 
#                   'HadCOPD', 'HadDepressiveDisorder', 'HadKidneyDisease', 'HadArthritis', 
#                   'DeafOrHardOfHearing', 'BlindOrVisionDifficulty', 'DifficultyConcentrating', 
#                   'DifficultyWalking', 'DifficultyDressingBathing', 'DifficultyErrands']

# # Apply label encoding to categorical columns
# label_encoder = LabelEncoder()
# for col in categorical_columns:
#     df_df[col] = label_encoder.fit_transform(df_df[col])

# # Convert binary columns to 0 and 1
# df_df[binary_columns] = df_df[binary_columns].astype(int)

# # Initialize StandardScaler
# scaler = StandardScaler()

# # Fit scaler to the data and transform numerical columns
# df_df[numerical_columns] = scaler.fit_transform(df_df[numerical_columns])

# # Now, the DataFrame should contain only standardized numerical values

In [ ]:
# # Identify binary columns
# binary_columns_1 = [col for col in df_df.columns if df_df[col].nunique() == 2]
# binary_columns_2 = [col for col in df_cleaned.columns if df_cleaned[col].nunique() == 2]

In [ ]:
# # Convert binary columns to 0 and 1
# for col in binary_columns_1:
#     unique_values = df_df[col].unique()
#     if set(unique_values) != {0, 1}:
#         df[col] = df[col].map({unique_values[0]: 0, unique_values[1]: 1})

# for col in binary_columns_2:
#     unique_values = df_cleaned[col].unique()
#     if set(unique_values) != {0, 1}:
#         df_cleaned[col] = df_cleaned[col].map({unique_values[0]: 0, unique_values[1]: 1})

# # Verify conversion
# all_binary = True
# for col in binary_columns_2:
#     unique_values = set(df_cleaned[col].unique())
#     if unique_values != {0, 1}:
#         all_binary = False
#         print(f"Column {col} has non-binary values: {unique_values}")

# if all_binary:
#     print("All binary columns have been successfully converted to 0 and 1.")
# else:
#     print("Some columns still have non-binary values.")

In [ ]:
# def convert_binary_columns(df, binary_columns):
#     for col in binary_columns:
#         unique_values = df[col].dropna().unique()  # Drop NA values for unique check
#         if set(unique_values) != {0, 1}:
#             if len(unique_values) == 2:
#                 df.loc[:, col] = df[col].map({unique_values[0]: 0, unique_values[1]: 1})
#             else:
#                 print(f"Column {col} has unexpected number of unique values: {unique_values}")
#     return df

# df_df = convert_binary_columns(df_df, binary_columns_1)
# df_cleaned = convert_binary_columns(df_cleaned, binary_columns_2)

# # Verify conversion
# def verify_binary_columns(df, binary_columns):
#     all_binary = True
#     for col in binary_columns:
#         unique_values = set(df[col].dropna().unique())  # Drop NA values for unique check
#         if unique_values != {0, 1}:
#             all_binary = False
#             print(f"Column {col} has non-binary values: {unique_values}")
#     return all_binary

# if verify_binary_columns(df_cleaned, binary_columns_2):
#     print("All binary columns have been successfully converted to 0 and 1.")
# else:
#     print("Some columns still have non-binary values.")

In [ ]:
# def convert_to_int(df, binary_columns):
#     for col in binary_columns:
#         # Use .loc to ensure we are modifying the DataFrame in place
#         df.loc[:, col] = df[col].astype('int8')
#     return df
    
# df_df = convert_to_int(df_df, binary_columns_1)
# df_cleaned = convert_to_int(df_cleaned, binary_columns_2)

# # Apply the conversion function
# df_df = convert_to_int(df_df, binary_columns_1)
# df_cleaned = convert_to_int(df_cleaned, binary_columns_2)

# # Verify conversion (no warning should be issued)
# print(df_df.dtypes)
# # print(df_cleaned.dtypes)

In [ ]:
# # Check DataFrame Columns
# print(df_df.columns)

In [ ]:
# # Columns to exclude
# excluded_columns = ['GeneralHealth', 'LastCheckupTime', 'RemovedTeeth', 'HadDiabetes', 
#                     'SmokerStatus', 'ECigaretteUsage', 'RaceEthnicityCategory', 'AgeCategory']

# # Exclude specified columns from the DataFrame
# df_df_subset = df_df.drop(columns=excluded_columns)

# # Calculate the correlation matrix
# correlation_matrix = df_df_subset.corr()

# # Plot the heatmap
# plt.figure(figsize=(10, 8))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
# plt.title('Correlation Heatmap')
# plt.show()

In [ ]:
# # Pair Plot
# sns.pairplot(df_df_subset)
# plt.title('Pair Plot')
# plt.show()

In [ ]:
# categorical_columns = [
#     'GeneralHealth', 'LastCheckupTime', 'RemovedTeeth', 'HadDiabetes', 
#     'SmokerStatus', 'ECigaretteUsage', 'RaceEthnicityCategory', 'AgeCategory'
# ]

# # Apply one-hot encoding
# df_df = pd.get_dummies(df_df, columns=categorical_columns, drop_first=True)

# # Check the column names after one-hot encoding
# print(df_df.columns)

In [ ]:
# from sklearn.preprocessing import StandardScaler

# # Select only the numerical columns for standardization
# numerical_columns = ['PhysicalHealthDays', 'MentalHealthDays', 'SleepHours', 'HeightInMeters', 'WeightInKilograms', 'BMI']
# #
# # Initialize StandardScaler
# scaler = StandardScaler()

# # Fit scaler to the data and transform the numerical columns
# df_df[numerical_columns] = scaler.fit_transform(df_df[numerical_columns])

In [ ]:
# # Check for non-numeric values in each column
# non_numeric_columns = df_df.columns[df_df.dtypes == 'object']
# print("Columns with non-numeric values:", non_numeric_columns)

In [ ]:
# from sklearn.preprocessing import StandardScaler

# # Select only the numerical columns for standardization
# numerical_columns = df_df.columns
# # Initialize StandardScaler
# scaler = StandardScaler()

# # Fit scaler to the data and transform the numerical columns
# df_df[numerical_columns] = scaler.fit_transform(df_df[numerical_columns])

In [ ]:
# # Pair Plot
# sns.pairplot(df_df)
# plt.title('Pair Plot')
# plt.show()

In [ ]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# # Remove non-numeric columns before creating the heatmap
# df_numeric = df_df.select_dtypes(include=['number'])

# # Calculate the correlation matrix
# correlation_matrix = df_numeric.corr()

# # Plot the heatmap
# plt.figure(figsize=(10, 8))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
# plt.title('Correlation Heatmap')
# plt.show()

In [ ]:
# # Calculate the correlation matrix
# correlation_matrix = df_encoded.corr()

# # Plot the heatmap
# plt.figure(figsize=(10, 8))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
# plt.title('Correlation Heatmap')
# plt.show()